body {
    font-family: 'Arial Rounded MT';
    background-color: #c8c3327c;
    margin: 0;
    padding: 0;
}
html, body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/*Carrito*/
.container-icon {
    display: flex;
    align-items: center;
}

.icon-bars{
    height: 90px;
    color: #c52f4b;
    cursor: pointer;
}

.icon-cart {
    height: 90px;
    color: #c52f4b;
    cursor: pointer;
}

/* Botones principales */
.add-to-cart, .pagar {
    background-color: #008bff;
    font-size: 40px;
    color: #373737;
    font-weight: 700;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
}

.add-to-cart:hover, .pagar:hover{
    background-color: #0056b3;
    color: #c52f4b;
}


/* Encabezado */
header {
    background-color: rgba(111, 167, 162, 0.466);
    color: #1a83c4;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-family: 'Bauhaus 93';
    font-size: 70px;
    letter-spacing: 2px;
    font-style: normal;
}

/* Botones de la barra de navegación (secciones y lupa) */
.selec button {
    background: none;
    border: none;
    cursor: pointer;
}

.auth-links a {
    font-family: 'Arial Rounded MT';
    color: #1a83c4;
    font-size: 25px;
    text-decoration: none;
    margin: 0 1rem;
}

.auth-links a:hover {
    text-decoration: underline;
}

.auth-links a:hover {
    text-decoration: underline;
}

#section{
    height: 35px;
    width: 35px;
}

/* Contenedor de productos */
div.producto {
    padding: 20px;
    color: #2B004E;
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.producto img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}


/* Imágenes específicas de productos con dimensiones */
.producto img{
    height: 450px;
    width: 360px;
    left: 0%;
}

/*Texto Producto*/
.informacion-producto{
    background-color: rgba(111, 167, 162, 0.466);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    width: 55%;
    margin: 0 auto;
}

.div-informacion-producto{
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.precio-producto{
    background-color: #e3e3e3;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    width: 45%;
    margin: 0 auto;
    flex-direction: column;
}

.input{
    margin-top: 0;
}

input{
    font-family: 'Arial Rounded MT';
}

section button{
    margin-bottom: 20px;
    width: 400px;
}

h2 {
    text-align: center;
    color: #c52f4b;
    margin-bottom: 2rem;
    font-family: 'Bauhaus 93';
    letter-spacing: 2px;
    font-size: 70px;
    font-style: normal;
    margin-top: 0;
    line-height: 0.8;
}

section p{
    font-size: 25px;
    line-height: 1.2;
    color: #373737;
}

h3{
    color: #1a83c4;
    font-size: 55px;
    margin: 10px;
}

/* Pie de página */
footer {
    background-color: #3C3A35;
    color: #FFFFFF;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

h5{
    font-size: 25px;
    margin: 10px;
    color: #FFFFFF;
}

footer p {
    margin: 0;
    font-family: Consolas;
    line-height: 1.2;
    color: #4e4e4e;
    font-size: 20px;
}

.footer-acerca{
    margin: 0;
    font-family: Consolas;
    line-height: 1.2;
    color: #d8d8d8;
    font-size: 20px;
    text-decoration: none;
}

footer a {
    color: #4e4e4e;
}
